@import '../../../scss/_colors.scss';
.top-bar {
  align-items: center;
  box-shadow: 0 1px 4px lighten( $grey, 10%);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.menu {
  align-items: center;
  display: flex;
}

.link {
  padding: 5px;
}
